@tailwind base;
@tailwind components;
@tailwind utilities;

.event-container {
    display: none;
}

.dates {
    position: absolute;
    right: 30px;
}

.venue-name {
    padding: 15px;
    
}

a:hover {
    color: black;
}

li a:hover {
    color:fuchsia;
}